@model PhotoBattles.App.Models.BindingModels.ContestBindingModel

@{
    ViewBag.Title = "Add Contest";
}

<p class="text-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("AddContest", "Contests", FormMethod.Post, new { role = "form" }))
{
    <div class="panel panel-default panel-primary">
        <div class="panel-body">

            @Html.TextBoxFor(m => m.Title)
            <br />
            @Html.TextAreaFor(m => m.Description)

            <div>
                <p>Voting Strategy</p>
                @Html.RadioButtonFor(m => m.VotingStartegy, 0, new { @checked = "checked", @onclick = "hide('voters')" })
                @Html.LabelFor(m => m.VotingStartegy, "Open")

                @Html.RadioButtonFor(m => m.VotingStartegy, 1, new { @onclick = "show('voters')" })
                @Html.LabelFor(m => m.VotingStartegy, "Closed")

                <select multiple id="voters" name="Voters" style="display: none">
                    @foreach (var user in Model.AvailableVoters)
                    {
                        <option value="@user.UserName">@user.UserName</option>
                    }
                </select>
            </div>

            <div>
                <p>Participation Strategy</p>
                @Html.RadioButtonFor(m => m.ParticipationStrategy, 0, new { @checked = "checked", @onclick = "hide('participants')" })
                @Html.LabelFor(m => m.ParticipationStrategy, "Open")

                @Html.RadioButtonFor(m => m.ParticipationStrategy, 1, new { @onclick = "show('participants')" })
                @Html.LabelFor(m => m.ParticipationStrategy, "Closed")

                <select multiple id="participants" name="Participants" style="display: none">
                    @foreach (var participant in Model.AvailableParticipants)
                    {
                        <option value="@participant.UserName">@participant.UserName</option>
                    }
                </select>
            </div>

            <div>
                <p>Reward Strategy</p>
                @Html.RadioButtonFor(m => m.RewardStrategy, 0, new { @checked = "checked", @onclick = "hide('number-of-winners')" })
                @Html.LabelFor(m => m.RewardStrategy, "Single Winner")

                @Html.RadioButtonFor(m => m.RewardStrategy, 1, new { @onclick = "show('number-of-winners')" })
                @Html.LabelFor(m => m.RewardStrategy, "Multiple Winners")

                @Html.TextBoxFor(m => m.NumberOfWinners, new { @id = "number-of-winners", @style = "display:none", @type = "number" })
            </div>

            <div>
                <p>Deadline Strategy</p>
                @Html.RadioButtonFor(m => m.DeadlineStrategy, 0, new { @checked = "checked", @onclick = "hide('participants-limit'); show('end-date')" })
                @Html.LabelFor(m => m.DeadlineStrategy, "End date")

                @Html.TextBoxFor(m => m.EndDate, new { @id = "end-date", @type = "date" })

                @Html.LabelFor(m => m.DeadlineStrategy, "Participants limit")
                @Html.RadioButtonFor(m => m.DeadlineStrategy, 1, new { @onclick = "hide('end-date'); show('participants-limit')" })

                @Html.TextBoxFor(m => m.ParticipantsLimit, new { @id = "participants-limit", @style = "display:none", @type = "number" })
            </div>

            <div class="panel-footer">
                <input type="submit" class="btn btn-default btn-primary" value="Add Contest" />
            </div>
        </div>
    </div>
}

<script>
    function hide(obj) {
        var el = document.getElementById(obj);
        el.style.display = 'none';

    }

    function show(obj) {
        var el = document.getElementById(obj);
        el.style.display = '';
    }
</script>