@model IQueryable<PhotoBattles.App.Models.ViewModels.ContestViewModel>

@{
    ViewBag.Title = "My Contests";
}

<h2>My Contests</h2>
@foreach (var context in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3>@context.Title</h3>
        </div>
        <div class="panel-body">
            <p>@context.Description</p>
            <p>Created on: @context.CreatedOn</p>
            @if (context.EndDate != null)
            {
                <p>End date: @context.EndDate</p>
            }
            else
            {
                <p>Participant limit: @context.ParticipantsLimit</p>
            }
        </div>
        <div class="panel-footer">
            @if (context.IsActive || context.Winners.Count > 0)
            {
                if (context.Winners.Count > 0)
                {
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="finalize">This contest was finalized!</h4>
                        </div>
                        <div class="col-md-9">
                            @Html.ActionLink("Details", "Details", "Contests", new { id = context.Id }, new { @class = "btn btn-primary", @style = "margin: 0 10px 0 -15px;" })
                            @Html.ActionLink("Winners", "Winners", "Contests", new { id = context.Id }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-4">
                            @Html.ActionLink("Edit", "EditContest", "Contests", new { id = context.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Details", "Details", "Contests", new { id = context.Id }, new { @class = "btn btn-primary" })
                        </div>
                        <div class="col-lg-3 col-lg-offset-5">
                            <div class="col-lg-6 text-right">
                                @using (Html.BeginForm("DismissContest", "Contests", FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.Hidden("id", context.Id)
                                    <input type="submit" class="btn btn-default btn-primary" value="Dismiss"/>
                                }
                            </div>
                            <div class="col-lg-6 text-right">
                                @using (Html.BeginForm("Finalize", "Contests", FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.Hidden("id", context.Id)
                                    <input type="submit" class="btn btn-default btn-primary" value="Finalize"/>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h4 class="dismiss">
                    This contest was dismissed!
                </h4>
            }
        </div>
    </div>
}
