@model IQueryable<PhotoBattles.App.Models.ViewModels.ContestViewModel>
@{
    ViewBag.Title = "ParticipateContests";
}

<h2>The contest you are participate in:</h2>

@foreach (var contest in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (contest.IsActive)
            {
                Html.RenderAction("AddPhoto", "Photos", new { contestId = contest.Id });
            }

        </div>

        <div class="panel-body">
            <div class="col-lg-6">
                <p>@contest.Title</p>
                <p>@contest.Description</p>
                <p>@contest.CreatedOn</p>
                <p>@contest.Organizer.UserName</p>
            </div>
            <div class="col-lg-6 text-right">
                @Html.ActionLink("Details", "Details", "Contests", new { area = string.Empty, contestId = contest.Id }, new { @class = "btn btn-primary" })
                @if (!contest.IsActive)
                {
                    @Html.ActionLink("Winners", "Winners", "Contests", new { area = string.Empty, contestId = contest.Id }, new { @class = "btn btn-primary" })
                }

            </div>
        </div>
    </div>
}