@using Microsoft.AspNet.Identity
@model PhotoBattles.App.Models.ViewModels.ContestDetailsViewModel
<h1>@Model.Title</h1>
<h3>Images</h3>
@foreach (var photo in Model.Photos)
{
    <div class="panel panel-default">
        <div class="page-header">
            <span>@photo.Author.FirstName @photo.Author.LastName</span>
        </div>

        <div class="panel-body">
            <img class="img-thumbnail" src="@photo.Url" style="width: 400px; height: 100%"/>
        </div>

        <div class="panel-footer">
            <div class="btn-group btn-group-justified">
                @if (photo.Votes.All(v => v.AuthorId != User.Identity.GetUserId()))
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Upvote</button>
                    </div>

                    <div class="btn-group">
                        @if (photo.Votes == null)
                        {
                            <button type="button" class="btn btn-default disabled">0</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-default disabled">@photo.Votes.Sum(v => v.Score)</button>
                        }
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Downvote</button>
                    </div>
                }
            </div>
        </div>
    </div>
}