@model PhotoBattles.App.Models.ViewModels.ContestDetailsViewModel
<h1>@Model.Title Images</h1>

@if (!Model.IsActive)
{
    if (Model.Winners.Any())
    {
        <h1>Finalized!</h1>
        <h3>Winners:</h3>

        foreach (var winner in Model.Winners)
        {
            <p>@winner.UserName</p>
        }
    }
    else
    {
        <h1>Dismissed!</h1>
    }
}

@if (Model.Photos.Any())
{
    foreach (var photo in Model.Photos)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <p><span style="color: #337ab7">@photo.Author.UserName</span> added to contest on @photo.Uploaded</p>
            </div>

            <div class="panel-body" style="text-align: center">
                <img class="img-thumbnail" src="@photo.Url" style="width: 400px; height: 100%"/>
            </div>

            @if (Request.IsAuthenticated)
            {
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-4" style="text-align: left">
                            @if (photo.UserCanVote)
                            {
                                @Ajax.ActionLink("Upvote", "Upvote", "Votes",
                                    new { contestId = Model.Id, photoId = photo.Id },
                                    new AjaxOptions()
                                        {
                                            OnSuccess = "disableVoting"
                                        },
                                    new { @class = "btn btn-success", @id = "upvote-button" })
                            }
                            else
                            {
                                <a class="btn btn-default disabled">Upvote</a>
                            }
                        </div>

                        <div class="col-lg-4" style="text-align: center">

                            @if (photo.Votes == null)
                            {
                                <span id="photo-@photo.Id-score" type="button" class="btn btn-default disabled" style="cursor: default">0</span>
                            }
                            else
                            {
                                <span id="photo-@photo.Id-score" type="button" class="btn btn-default disabled" style="cursor: default">@photo.Votes.Sum(v => v.Score)</span>
                            }
                        </div>

                        <div class="col-lg-4" style="text-align: right">
                            @if (photo.UserCanVote)
                            {
                                @Ajax.ActionLink("Downvote", "Downvote", "Votes",
                                    new { contestId = Model.Id, photoId = photo.Id },
                                    new AjaxOptions
                                        {
                                            OnSuccess = "disableVoting"
                                        },
                                    new { @class = "btn btn-danger", @id = "downvote-button" })
                            }
                            else
                            {
                                <a class="btn btn-default disabled">Downvote</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
else
{
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>No images available for contest @Model.Title</h4>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/scripts")
}

<script>
    function disableVoting() {
        $('#downvote-button').attr('disabled', 'disabled');
        $('#upvote-button').attr('disabled', 'disabled');
    }
</script>