@using PhotoBattles.App.Models.ViewModels
@model IQueryable<PhotoBattles.App.Models.ViewModels.ContestViewModel>

@{
    ViewBag.Title = "Contests";
}

<table class="infinite-scroll" style="width: 100%">
    <tbody>
        @Html.Partial("_ContestRow", ViewBag.Contests as Dictionary<int, ContestViewModel>)
    </tbody>
</table>
<div id="loading">
    <img src='@Url.Content("~/images/spin.gif")' />
    <p>
        <b>Loading the next @ViewBag.RecordsPerPage&hellip;</b>
    </p>
</div>
@section scripts{
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/scripts")

    <script src="~/Scripts/infiniteScroll.js"></script>
    <script type="text/javascript">
        $(function () {
            $("div#loading").hide();
        });
        var moreRowsUrl = "/Contests/GetContests"; //the URL to your ActionMethod
        //var moreRowsUrl = ' Url.RouteUrl("CustomerList")'; //if you have a route defined, you can use an Html helper like Url.RouteUrl
        $(window).scroll(scrollHandler);
    </script>


}