@using Microsoft.AspNet.Identity
@using PhotoBattles.Models.Enumerations
@model IQueryable<PhotoBattles.App.Models.ViewModels.ContestViewModel>

@{
    ViewBag.Title = "Index";
}

@if (this.User != null && this.User.Identity.IsAuthenticated)
{
    Html.RenderAction("AddContest", "Contests");
}

@foreach (var contest in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-6">
                <p>@contest.Title</p>
                <p>@contest.Description</p>
                <p>@contest.CreatedOn</p>
                <p>@contest.Organizer.UserName</p>
            </div>
            <div class="col-lg-6 text-right">
                @if (HttpContext.Current.User != null && HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    if (contest.ParticipationStrategy == ParticipationStrategy.Open ||
                        (contest.ParticipationStrategy == ParticipationStrategy.Closed && contest.InvitedUsers.Any(iu => iu.UserName == this.User.Identity.GetUserName())))
                    {
                        if (!contest.Participants.Any() || !contest.Participants.Any(p => p.UserName == this.User.Identity.GetUserName()))
                        {
                            @Html.ActionLink("Participate", "Participate", "Contests", new { area = string.Empty, id = contest.Id }, new { @class = "btn btn-primary" })
                        }
                    }
                }

                @Html.ActionLink("Details", "Details", "Contests", new { area = string.Empty, id = contest.Id }, new { @class = "btn btn-primary" })

            </div>
        </div>
    </div>
}


