@model IQueryable<PhotoBattles.App.Models.ViewModels.ContestViewModel>
@{
    ViewBag.Title = "My Participations";
}

<h2>@ViewBag.Title</h2>
@foreach (var contest in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3>@contest.Title</h3>
        </div>
        <div class="panel-body text-center">
            <h4>@contest.Description</h4>
        </div>

        @if (contest.IsActive)
        {
            <div class="panel-body text-center">
                @{ Html.RenderAction("AddPhoto", "Photos", new { contestId = contest.Id }); }
            </div>
        }

        <div class="panel-footer">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <h5><span style="color: #337ab7">@contest.Organizer.UserName</span> created this on @contest.CreatedOn</h5>
                    </div>

                    <div class="col-lg-6 text-right">
                        @Html.ActionLink("Details", "Details", "Contests", new { area = string.Empty, id = contest.Id }, new { @class = "btn btn-primary" })
                        @if (!contest.IsActive)
                        {
                            @Html.ActionLink("Winners", "Winners", "Contests", new { area = string.Empty, id = contest.Id }, new { @class = "btn btn-primary" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
